<div id="menuToggle">
  <input id="checkbox" type="checkbox" (click)="toggleFilterOptions()" />
  <label class="toggle" for="checkbox">
    <div class="bar bar--top"></div>
    <div class="bar bar--middle"></div>
    <div class="bar bar--bottom"></div>
  </label>
</div>
<!-- Filter options -->
<!-- <div [ngStyle]="{'max-height': showFilterOptions ? '1000px' : '0', 'opacity': showFilterOptions ? '1' : '0'}" class="sidenav"> -->
<div
  [ngClass]="{
    'sidenav-open': showFilterOptions,
    'sidenav-closed': !showFilterOptions
  }"
  class="sidenav"
>
  <!-- Portfolio -->

  <h4
    (click)="toggleFreelancersFilter()"
    style="
      color: var(--primary-color);
      margin-top: 10px;
      font-weight: bold;
      font-family: var(--font-family);
      text-decoration: none;
      border-radius: 10px;
      padding-top: 3%;
      height: 40px;
    "
  >
    Freelancers
  </h4>
  <div *ngIf="FreelancersFilter">
    <h5
      (click)="toggleShowBudget()"
      style="
        color: var(--tertiary-color);
        margin-top: 10px;
        font-weight: bold;
        font-family: var(--font-family);
      "
    >
      Budget
    </h5>

    <div *ngIf="ShowBudget">
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          style="color: var(--primary-color)"
          name="budget"
          value="5$-10$"
          (change)="updateSelectedbudget(5, 10)"
        />
        5$ - 10$</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          style="color: var(--primary-color)"
          name="budget"
          value="10$-20$"
          (change)="updateSelectedbudget(10, 20)"
        />
        10$ - 20$</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="budget"
          value="20$-30$"
          (change)="updateSelectedbudget(20, 30)"
        />
        20$ - 30$</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="budget"
          value="40$-50$"
          (change)="updateSelectedbudget(40, 50)"
        />
        40$ - 50$</label
      ><br />
    </div>
    <hr style="color: black" />

    <h5
      style="
        color: var(--tertiary-color);
        margin-top: 10px;
        font-weight: bold;
        font-family: var(--font-family);
      "
      (click)="toggleShowFreelancerLocation()"
    >
      Location
    </h5>

    <div class="checkbox-group" *ngIf="ShowFreelancerLocation">
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="Location"
          [checked]="selectedLocation == 'Cairo'"
          style="color: var(--primary-color)"
          value="Cairo"
          (change)="updateSelectedFreelancerLocation('Cairo')"
        />
        Cairo</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="Location"
          style="color: var(--primary-color)"
          value="Giza"
          (change)="updateSelectedFreelancerLocation('Giza')"
        />
        Giza</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="Location"
          style="color: var(--primary-color)"
          value="Aswan"
          (change)="updateSelectedFreelancerLocation('Aswan')"
        />
        Aswan</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="Location"
          style="color: var(--primary-color)"
          value="Assuit"
          (change)="updateSelectedFreelancerLocation('Assuit')"
        />
        Assuit</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="Location"
          style="color: var(--primary-color)"
          value="Alexandria"
          (change)="updateSelectedFreelancerLocation('Alexandria')"
        />
        Alexandria</label
      >
    </div>

    <hr style="color: black" />

    <h5
      style="
        color: var(--tertiary-color);
        margin-top: 10px;
        font-weight: bold;
        font-family: var(--font-family);
      "
      (click)="toggleShowFreelancerJobTitle()"
    >
      Job Title
    </h5>
    <div class="cntr" *ngIf="ShowFreelancerJobTitle">
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="JobTitle"
          style="color: var(--primary-color)"
          value="photographer"
          (change)="updateSelectedFreelancerJobTitle('photographer')"
        />
        Photographer</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="JobTitle"
          style="color: var(--primary-color)"
          value=".net Developer"
          (change)="updateSelectedFreelancerJobTitle('.net Developer')"
        />
        .Net Developer</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="JobTitle"
          style="color: var(--primary-color)"
          value="Flutter Developer"
          (change)="updateSelectedFreelancerJobTitle('Flutter Developer')"
        />
        Flutter Developer</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="JobTitle"
          style="color: var(--primary-color)"
          value="frontEnd Developer"
          (change)="updateSelectedFreelancerJobTitle('frontEnd Developer')"
        />
        Frontend Developer</label
      ><br />
      <label style="color: var(--primary-color)"
        ><input
          type="radio"
          name="JobTitle"
          style="color: var(--primary-color)"
          value="mobile developer"
          (change)="updateSelectedFreelancerJobTitle('mobile developer')"
        />
        Backend developer</label
      >
    </div>
  </div>
  <h4
    (click)="togglePortfolioFilter()"
    style="
      color: var(--primary-color);
      margin-top: 10px;

      text-decoration: none;
      border-radius: 10px;
      padding-top: 3%;
      height: 40px;
    "
  >
    Portfolio
  </h4>
  <!-- Other content in the sidenav -->
  <div *ngIf="PortfolioFilter">
    <h5
      style="
        color: var(--tertiary-color);
        margin-top: 10px;
        font-weight: bold;
        font-family: var(--font-family);
      "
      (click)="toggleShowPortfolioTechnology()"
    >
      Technologies
    </h5>

    <!-- Portfolio technology checkboxes -->
    <div class="cntr" *ngIf="ShowPortfolioTechnology">
      <div class="row">
        <div class="col-2">
          <input
            id="cbx"
            class="hidden-xs-up"
            type="checkbox"
            value="css"
            style="border: none"
            (change)="updateSelectedTechnologies($event)"
          />
          <label for="cbx" class="cbx"></label>
        </div>

        <div class="col-10">
          <label class="labell">CSS</label>
        </div>
      </div>

      <div class="row" style="margin-top: 5px">
        <div class="col-2">
          <input
            id="cbx2"
            class="hidden-xs-up"
            type="checkbox"
            value="Html"
            style="border: none"
            (change)="updateSelectedTechnologies($event)"
          />
          <label for="cbx2" class="cbx"></label>
        </div>

        <div class="col-10">
          <label class="labell">HTML</label>
        </div>
      </div>

      <div class="row" style="margin-top: 5px">
        <div class="col-2">
          <input
            id="cbx3"
            class="hidden-xs-up"
            type="checkbox"
            value="flutter"
            style="border: none"
            (change)="updateSelectedTechnologies($event)"
          />
          <label for="cbx3" class="cbx"></label>
        </div>

        <div class="col-10">
          <label class="labell">Flutter</label>
        </div>
      </div>

      <div class="row" style="margin-top: 5px">
        <div class="col-2">
          <input
            id="cbx4"
            class="hidden-xs-up"
            type="checkbox"
            name="technology"
            value="Angular"
            style="border: none"
            (change)="updateSelectedTechnologies($event)"
          />
          <label for="cbx4" class="cbx"></label>
        </div>

        <div class="col-10">
          <label class="labell">Angular</label>
        </div>
      </div>
    </div>

    <!-- <h4 (click)="resetFilters()" style="margin-bottom: 15px;margin-top: 25px;font-weight: bold;">Reset</h4> -->
  </div>
</div>
