.filter-button {
  transition: all 0.5s ease;

  padding: 10px 20px;
  background-color: var(--secondary-color);
  /* Brown color */
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  /* Shadow */
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--secondary-color);

  /* Darker brown color on hover */
}



.sidenav-open {
  max-height: 1000px;
  opacity: 1;
}

.sidenav-closed {
  max-height: 0;
  opacity: 0;
}

.sidenav {
  height: 580px;
  width: 250px;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  /* Position on the right side */
  background-color: var(--secondary-color);
  /* Black */
  overflow-y: auto;
  /* Enable vertical scroll */
  margin-top: 140px;
  transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  /* Add padding */
  color: #fff;
  /* transition: max-height 1.5s ease; Add transition effect */
  transition: max-height 1.5s, opacity 1s;
  font-family: var(--font-family);
}




.sidenav h2,
.sidenav h3 {
  color: white;
}

.sidenav h4 {
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  color: #694535;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;

}

.sidenav h5 {
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #694535;
  border: none;

}


.technology-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  /* Light gray border */
  border-radius: 5px;
  background-color: white;
  color: #333;
  /* Dark gray text color */
  font-size: 20px;
}



.cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;

}

.cbx:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 50px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx2:checked~.cbx,
#cbx:checked~.cbx,
#cbx3:checked~.cbx,
#cbx4:checked~.cbx,
#cbx5:checked~.cbx,
#cbx6:checked~.cbx,
#cbx7:checked~.cbx,
#cbx8:checked~.cbx {
  border-color: transparent;
  background: var(--primary-color);
  animation: jelly 0.6s ease;
}

#cbx:checked~.cbx:after,
#cbx2:checked~.cbx:after,
#cbx3:checked~.cbx:after,
#cbx4:checked~.cbx:after,
#cbx5:checked~.cbx:after,
#cbx6:checked~.cbx:after,
#cbx7:checked~.cbx:after,
#cbx8:checked~.cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}


.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.hidden-xs-up {
  display: none !important;
  color: var(--primary-color);


}

.labell {
  font-size: 15px;
  color: var(--primary-color);

}



h4, h5 {
  cursor: pointer;
}












#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: var(--primary-color);
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Tornado Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom, transform;
  transition-delay: calc(0s + 0.35s) * .6;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: opacity, transform;
  transition-delay: calc(0s + 0.35s * .3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 4px/ 2);
}

#checkbox:checked+.toggle .bar--middle {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: calc(0s + 0.35s * .3);
}

#checkbox:checked+.toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(-225deg);
  transition-delay: calc(0s + 0.35s * .6);
}

* {
  font-family: var(--font-family) !important;
}