.login {
  min-height: 100vh;
}

.bg-image {
  /* background-image: url("https://i.pinimg.com/564x/fd/af/cf/fdafcff5bc524d296b44fa9b1cbc75f8.jpg"); */
  /* background-image: url("https://i.pinimg.com/564x/56/52/fc/5652fc8cc34b135f3c1e5d134e5c94c8.jpg"); */
  /* https://i.pinimg.com/564x/5c/04/9a/5c049a244bc7cdf34f05f63d4f7328d5.jpg */
  background-size: auto;
  background-position: center;
}

.login-heading {
  font-weight: 300;
  font-family: var(--font-family);
}

.form-control:focus {
  border: none !important;
  box-shadow: none !important;

}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}


a {
  text-decoration: none;
  color: black;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: both;
  opacity: 0;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.01);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*sssssssssssssssssssssssss*/
/* Custom radio color */
.form-check-input[type="radio"] {
  border-color: white;
  /* blue color */
  background-color: white;
  /* blue color */
}

/* Custom radio color when checked */
.form-check-input[type="radio"]:checked {
  background-color: #7f6256;
  /* blue color */
}

/* Custom checkbox color */
.custom-checkbox[type="checkbox"] {
  border-color: white;
  /* blue color */
}



.gg {
  background: var(--primary-color)
}

.right {
  background-color: var(--secondary-color);
}

.centered-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  /* Adjust width as needed */
  height: 200px;
  /* Adjust height as needed */
  background-color: #f0f0f0;
  /* Background color */
  border: 2px solid #ccc;
  /* Border */
  border-radius: 10px;
  /* Border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Box shadow */
  padding: 20px;
  /* Padding */
  box-sizing: border-box;
  /* Include border and padding in element's total width and height */
  z-index: 2;
  /* Ensure window is on top of blurred background */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  backdrop-filter: blur(10px);
  /* Blur effect */
  z-index: 1;
  /* Ensure overlay is on top of other content */
}

body {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  /* Blur effect applied to the entire body */
}

/*buttons*/
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}



.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/*spinners*/
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: var(--primary-color);
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/*login with google*/
.buttonGoogle {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  /* background-color: #446063;
  color: white; */

  cursor: pointer;
  transition: all 0.6s ease;
  padding: 0px 14%;
}

.buttonGoogle svg {
  height: 24px;
}

.buttonGoogle:hover {
  transform: scale(1.02);
  background-color: #446063;
}

.buttonGoogle:hover a {
  transform: scale(1.02);
}

.btn {
  --color: var(--primary-color);
  --color2: white;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
  width: 100%;
}

.btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(.7);
  transform: scale(.98);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-tile-group .input-container {
  position: relative;
  height: 90px;
  width: 90px;
  margin: 0.5rem;
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  transition: transform 300ms ease;
}

.radio-tile-group .input-container .icon svg {
  fill: var(--primary-color);
  ;
  width: 2rem;
  height: 2rem;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary-color);
  ;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
  background-color: var(--primary-color);
  ;
  border: 2px solid var(--primary-color);
  ;
  color: white;
  transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .icon svg {
  fill: white;
  background-color: var(--primary-color);
  ;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .radio-tile-label {
  color: white;
  background-color: var(--primary-color);
  ;
}
* {
  font-family: "Poppins", sans-serif;
}
.card {
  background-color: var(--tertiary-color);
}