@if(freelancer) {
<div class="container-fluid p-0 fade-in" style="margin-top: 80px">
  <header>
    <img [src]="freelancer?.coverPicture" />
  </header>
  <div class="main-content">
    <div class="row container-fluid m-0 p-0 align-items-start">
      <div class="left col-lg-4">
        <div class="photo-left mt-5">
          <img class="photo" [src]="freelancer?.profilePicture" />
        </div>
        <h4 class="name">{{ freelancer?.fullName }}</h4>
        <p class="info">{{ freelancer?.headLine }}</p>
        <p class="info">{{ freelancer?.email }}</p>
        <!--edit butoon-->
        <button
          *ngIf="hisProfile"
          (click)="NavigateUpdateProfile($event)"
          class="updatebtn"
          style="font-weight: bold"
        >
          Update Profile
          <!-- <div class="star-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="star-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="star-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="star-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="star-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="star-6">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                version="1.1"
                style="
                  shape-rendering: geometricPrecision;
                  text-rendering: geometricPrecision;
                  image-rendering: optimizeQuality;
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                "
                viewBox="0 0 784.11 815.53"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs></defs>
                <g id="Layer_x0020_1">
                  <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                  <path
                    class="fil0"
                    d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                  ></path>
                </g>
              </svg>
            </div> -->
        </button>
        <!--edit butoon-->
        <!--about section-->
        <div class="stats row">
          <div class="stat col-xs-4">
            <p class="number-stat">{{ freelancer?.followers?.length ?? 0 }}</p>
            <p class="desc-stat">Followers</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{ freelancer?.following?.length ?? 0 }}</p>
            <p class="desc-stat">Following</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{ freelancerPortfolio?.length ?? 0 }}</p>
            <p class="desc-stat">Uploads</p>
          </div>
        </div>

        <button
          *ngIf="!hisProfile"
          (click)="openHireFreelancer()"
          class="btn"
          style="width: 300px; margin-top: 30px"
        >
          Hire Freelancer
        </button>

        <p class="desc">{{ freelancer?.about }}</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-lg-8 m-0 px-4">
        <!--button post/order-->
        <div class="row justify-content-between align-items-center m-0">
          <div
            class="radio-inputs col-auto row"
            style="color: var(--primary-color)"
          >
            <label class="radio col-3">
              <input
                [(ngModel)]="selectedTab"
                type="radio"
                name="selected"
                value="posts"
                checked=""
              />
              <span class="name">Posts</span>
            </label>
            <label class="radio col-3" *ngIf="hisProfile">
              <input
                [(ngModel)]="selectedTab"
                value="orders"
                type="radio"
                name="selected"
              />
              <span class="name">Orders</span>
            </label>
            <label class="radio col-3" *ngIf="hisProfile">
              <input
                [(ngModel)]="selectedTab"
                type="radio"
                name="selected"
                value="Tasks"
                checked=""
              />
              <span class="name">Tasks</span>
            </label>
            <label class="radio col-3">
              <input
                [(ngModel)]="selectedTab"
                type="radio"
                name="selected"
                value="reviews"
                checked=""
              />
              <span class="name">Reviews</span>
            </label>
          </div>

          <!--button add post end -------------------->
          <button
            class="button col-2 mt-4 p-1"
            (click)="NavigateAddPost($event)"
            *ngIf="hisProfile"
          >
            Add Post
          </button>

          <!--Follow button-->
          <div
            (click)="followFreelancer()"
            class="tooltip-container col-2 mt-3"
            *ngIf="!hisProfile && isVisitorClient"
            [ngClass]="{ followed: isTooltipActive }"
          >
            <span class="tooltip">{{ freelancer?.followers.length ?? 0 }}</span>
            <span class="text" [ngClass]="{ followText: isTooltipActive }">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 95 114"
                class="svgIcon"
              >
                <rect
                  [attr.fill]="isTooltipActive ? 'white' : 'black'"
                  rx="28.5"
                  height="57"
                  width="57"
                  x="19"
                ></rect>
                <path
                  [attr.fill]="isTooltipActive ? 'white' : 'black'"
                  d="M0 109.5C0 83.2665 21.2665 62 47.5 62V62C73.7335 62 95 83.2665 95 109.5V114H0V109.5Z"
                ></path>
              </svg>
              {{ isTooltipActive ? "Followed" : "Follow" }}</span
            >
          </div>
        </div>
        <!--content below buttons-->
        <div class="orders-table-container" *ngIf="selectedTab === 'orders'">
          @if(orders.data.FreelancerOrders){
          <table class="orders-table">
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Offering Price</th>
                <th>Date</th>
                <th>Your Response</th>
              </tr>
            </thead>
            <tbody
              *ngFor="let order of orders.data.FreelancerOrders; let i = index"
            >
              <tr *ngIf="order.state == 'Pending'">
                <td>{{ order.clientName }}</td>
                <td>{{ order.description }}</td>
                <td>{{ order.deadline }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.date }}</td>
                <td>
                  <button
                    class="accept-button"
                    (click)="AcceptOrder(order._id)"
                  >
                    Accept
                  </button>
                  <button class="reject-button" style="margin-left: 5px">
                    Decline
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          }@else{
          <app-loading></app-loading>
          }
        </div>
        <div class="orders-table-container" *ngIf="selectedTab === 'Tasks'">
          @if(orders.data.FreelancerOrders){
          <table class="tasks-table table-striped">
            <!-- Table headers -->
            <thead>
              <tr>
                <th>Client</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Offering Price</th>
                <th>Date</th>
                <th>Finished</th>
              </tr>
            </thead>
            <tbody *ngFor="let ordersItem of orders.data.FreelancerOrders">
              <!-- Table body -->
              <tr *ngIf="ordersItem.state == 'InProgress'">
                <!-- Table cells -->
                <td>{{ ordersItem.clientName }}</td>
                <td>{{ ordersItem.description }}</td>
                <td>{{ ordersItem.deadline }}</td>
                <td>{{ ordersItem.price }}</td>
                <td>{{ ordersItem.date }}</td>
                <td>
                  <button
                    id="sendBtn"
                    (click)="openFreelancerResponse(ordersItem._id)"
                  >
                    Ready to send!
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          }@else {
          <app-loading></app-loading>
          }
          <div *ngIf="openResponseForm" class="response-popup">
            <div class="response-popup-content">
              <div class="response-content">
                <p class="title">
                  Congratulations on completing your task! It's time to submit
                  your work to the client for review. Your dedication and hard
                  work are greatly appreciated✨
                </p>

                <textarea
                  [(ngModel)]="responseText"
                  placeholder="Submit your work here..."
                ></textarea>
                <div class="button-group">
                  <button (click)="submitResponse()">Send</button>
                  <button (click)="closeFreelancerResponse()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTab === 'posts'">
          <div class="container">
            <div class="row">
              <app-portfolio
                class="col-md-4 col-sm-6"
                [portfolio]="portfolioItem"
                *ngFor="let portfolioItem of freelancerPortfolio"
              ></app-portfolio>
            </div>
          </div>
        </div>

        <div *ngIf="selectedTab === 'reviews'" class="container">
          <app-reviews [freelancerID]="this.freelancerId"></app-reviews>
        </div>
        <!--button add post end-->
      </div>
    </div>
  </div>
</div>

}
