<div class="container-fluid ps-md-0" id="background">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

    <div class="col-md-8 col-lg-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fade-in">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="login-heading mb-5">Welcome back!</h1>

                <div class="form-floating mb-3" style="height: 18%">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    formControlName="email"
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="input-group mb-3" style="height: 18%">
                  <input
                    type="{{ passwordFieldType }}"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    formControlName="password"
                    [required]="true"
                  />
                  <span
                    class="input-group-text password-toggle"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="bi bi-eye{{
                        passwordFieldType === 'password' ? '-slash' : ''
                      }}"
                    ></i>
                  </span>
                </div>

                @if (!valid ) {
                <div class="text-danger small m-2">
                  {{ defaultError }}
                </div>
                }

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-login text-uppercase fw-bold mb-3"
                    type="submit"
                  >
                    Sign in
                  </button>
                  <div class="text-center">
                    <a class="small" href="#" routerLink="/login/reset/mail"
                      >Forgot password?</a
                    >
                  </div>
                  <div class="text-center row mt-2">
                    <a class="small" href="#" routerLink="/register"
                      >Not a user? Click here to sign up!</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
