.login {
  min-height: 100vh;
}

.bg-image {
  /* background-image: url("https://i.imgur.com/FO3K7mW.jpeg"); */
  /* background-image: url("https://i.pinimg.com/564x/00/aa/e2/00aae28efafd46ef0fa1b7eeb74ec40d.jpg"); */
  background-image: url("https://i.pinimg.com/564x/56/52/fc/5652fc8cc34b135f3c1e5d134e5c94c8.jpg");
  /* https://i.pinimg.com/564x/5c/04/9a/5c049a244bc7cdf34f05f63d4f7328d5.jpg */
  background-size: auto;
  background-position: center;
}

.login-heading {
  font-weight: 300;
  color: white;
}

.form-control {
  border: none !important;
  box-shadow: none !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#background {
  background-color: var(--tertiary-color);
}

button {
  background-color: #446063;
  color: white;

  border: none;
}

button:hover {
  background-color: #ccd4dd;

  color: #446063;
}

a {
  text-decoration: none;
  color: #ccd4dd;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: both;
  opacity: 0;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.01);
}

span {
  background-color: white !important;
  border: none !important;
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
