@if(freelancer) {
<div
  class="container card mb-4 mb-xl-0 px-0"
  style="margin-top: 5.3%; width: 83.5%"
>
  <div class="card-header">Cover Photo</div>
  <div class="card-body text-center">
    <!-- cover picture image-->
    <img
      class="img-account-profile mb-2"
      [src]="coverUrl"
      alt=""
      width="100%"
      [style.object-fit]="isLoaded ? 'cover' : 'none'"
    />
    <!-- Profile picture help block-->
    <div class="small mb-4" style="color: white">
      JPG or PNG no larger than 5 MB
    </div>
    <!-- Profile picture upload button-->
    <input
      type="file"
      id="uploadProfileInput"
      accept="image/*"
      value="Upload Image"
      (change)="handleCoverInput($event)"
      style="display: none"
    />
    <button
      class="btn btn-primary"
      type="button"
      id="uploadBtn"
      onclick="document.getElementById('uploadProfileInput').click();"
    >
      Upload cover photo
    </button>
  </div>
</div>
<div class="container-xl px-4 pt-2">
  <!-- Account page navigation-->
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->

          <img
            class="img-account-profile rounded-circle mb-2"
            [src]="imageUrl"
            alt=""
            height="160px"
            width="160px"
            style="object-fit: cover"
          />
          <!-- Profile picture help block-->
          <div class="small mb-4" style="font: white">
            JPG or PNG no larger than 5 MB
          </div>
          <!-- Profile picture upload button-->
          <input
            type="file"
            id="uploadCoverInput"
            accept="image/*"
            value="Upload Image"
            (change)="handleProfileInput($event)"
            style="display: none"
          />
          <button
            class="btn btn-primary"
            type="button"
            id="uploadBtn2"
            onclick="document.getElementById('uploadCoverInput').click();"
          >
            Upload new image
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form>
            <!-- Form Group (username)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Username (how your name will appear to other users on the
                site)</label
              >
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Enter your username"
                value="{{ freelancer.userName }}"
                #userName
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Enter your first name"
                  value="{{ freelancer.fullName.split(' ')[0] }}"
                  #firstName
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Enter your last name"
                  value="{{ freelancer.fullName.split(' ')[1] }}"
                  #lasttName
                />
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPass">New Password</label>
                <input
                  class="form-control"
                  id="inputPass"
                  type="password"
                  placeholder="Enter your new password"
                  #Password
                />
              </div>
              <!-- Form Group (location)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Location</label>
                <input
                  class="form-control"
                  id="inputLocation"
                  type="text"
                  placeholder="Enter your location"
                  value="{{ freelancer.location }}"
                  #Location
                />
              </div>
            </div>
            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                class="form-control"
                id="inputEmailAddress"
                type="email"
                placeholder="Enter your email address"
                value="{{ freelancer.email }}"
                #Email
              />
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="budget">Budget</label>
              <input
                class="form-control"
                id="budget"
                type="number"
                placeholder="Enter your Budget"
                value="{{ freelancer.budget }}"
                #budget
              />
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="headline">HeadLine</label>
              <input
                class="form-control"
                id="headline"
                type="text"
                placeholder="Enter your headline"
                value="{{ freelancer.headLine }}"
                #headline
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (description)-->
              <div class="col-md-12">
                <label class="small mb-1" for="inputDesc">About</label>
                <textarea
                  class="form-control"
                  id="inputDesc"
                  name="description"
                  placeholder="Enter your description"
                  style="resize: none; overflow: auto"
                  rows="3"
                  #About
                  >{{ freelancer.about }}</textarea
                >
              </div>
            </div>
            <!-- Save changes button-->
            <div class="row justify-content-around">
              <button
                class="btn btn-success col-auto"
                type="button"
                (click)="
                  saveChanges(
                    firstName.value,
                    lasttName.value,
                    userName.value,
                    Password.value,
                    Location.value,
                    Email.value,
                    budget.value,
                    headline.value,
                    About.value
                  )
                "
              >
                Save Changes
              </button>
              <button
                class="btn btn-danger col-auto"
                type="button"
                (click)="NavigateBack()"
              >
                Cancel Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

}
