@if(this.resetToken != null) {
<div class="container-fluid ps-md-0" id="background">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

    <div class="col-md-8 col-lg-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fade-in">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h2 class="login-heading mb-2">Enter your new password</h2>
                <p class="mt-3" style="width: 80%">
                  Password must be 8 characters long, has a uppercase character
                  and an lowercase character and a digit.
                </p>

                <div class="input-group mb-3 mt-4" style="height: 18%">
                  <input
                    type="{{ passwordFieldType }}"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [required]="true"
                  />
                  <span
                    class="input-group-text password-toggle"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="bi bi-eye{{
                        passwordFieldType === 'password' ? '-slash' : ''
                      }}"
                    ></i>
                  </span>
                </div>
                <div class="input-group mb-3" style="height: 18%">
                  <input
                    type="{{ confirmPasswordFieldType }}"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    [required]="true"
                  />
                  <span
                    class="input-group-text password-toggle"
                    (click)="toggleConfirmPasswordVisibility()"
                  >
                    <i
                      class="bi bi-eye{{
                        confirmPasswordFieldType === 'password' ? '-slash' : ''
                      }}"
                    ></i>
                  </span>
                </div>

                @if (!valid ) {
                <div class="text-danger small m-2">
                  {{ defaultError }}
                </div>
                }

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-login text-uppercase fw-bold mb-3"
                    type="submit"
                  >
                    Confirm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
}
