.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://i.pinimg.com/564x/41/c9/55/41c95543d0f617cb3af476c0c1b7440a.jpg");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}
.form-control {
  border: none !important;
  box-shadow: none !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#background {
  background-color: #CCD4DD;

}

button {
  background-color: #446063;
  color: white;

  border: none;
}

button:hover {
  background-color:  #CCD4DD;
  color: #141E1D;
}

a {
  text-decoration: none;
  color: black;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: both;
  opacity: 0;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.01);
}
span {
  background-color: white !important;
  border: none !important;
}

p {
  font-size: 0.85rem !important;
  font-weight: 200;
}
* {
  font-family: "Poppins", sans-serif;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
