<!-- HTML -->
<form class="form" style="position: relative; border: 1px black solid">
  <button type="submit" (click)="searchByFreelancer(searchQuery.value)">
    <svg
      width="27"
      height="16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-labelledby="search"
    >
      <path
        d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
        stroke="currentColor"
        stroke-width="1.333"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </button>

  <input
    class="input"
    #searchQuery
    placeholder="Search by freelancer..."
    required
    type="text"
    (input)="searchByFreelancer(searchQuery.value)"
    (focus)="showDropdown()"
    (blur)="hideDropdown()"
  />
  <ul class="dropdown" *ngIf="showDropdownFlag && searchResults.length > 0">
    <li
      *ngFor="let freelancer of searchResults"
      (click)="NavigateFreelancerProfile($event, freelancer)"
    >
      <div class="freelancer-info">
        <img class="profile-picture" [src]="freelancer.profilePicture" />

        <span>{{ freelancer.fullName }}</span>
      </div>
    </li>
  </ul>
</form>
