.grid-portfolio {
  padding: 65px 0px;
  background-color: #ada69d;
}

 .portfolio-item {
  margin: 15px 0px;
}

.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 5px;
    left: 0;
}


 .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
 }
.portfolio-item em {
  font-style: normal;
  font-weight: 200;
 }

 .portfolio-item:hover h1 {
  transform: translateY(0);
 }
 .portfolio-item .image img {
  width: 410px;
  height: 365px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}

.portfolio-item .image img:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Apply box shadow on hover */
}


 .portfolio-item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
 }

 .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
 }


 .full-screen-portfolio .container-fluid,
.full-screen-portfolio .col-md-4, .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}


.portfolio-item img  {
  width: 410px;
  height: 365px;
  overflow: hidden;

}



.portfolio-item .thumb {
  position: relative;
}


.portfolio-item .hover-effect .hover-content {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;

}


.portfolio-item  .hover-effect img {

  width: 10px;
}




.full-screen-portfolio .portfolio-item h1 {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding-left: 20px;
  line-height: 15px;
  transform: translateY(25px);
  transition: .5s ease-in-out;
  letter-spacing: 0.5px;
 }

 .full-screen-portfolio .portfolio-item em {
  font-style: normal;
  font-weight: 200;
 }

.full-screen-portfolio .portfolio-item:hover h1 {
  transform: translateY(0);

 }

.full-screen-portfolio .portfolio-item p {
  padding-left: 20px;
  font-weight: 300!important;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #fff;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s ease-in-out;
  text-transform: uppercase;
 }

 .full-screen-portfolio .portfolio-item {
 text-align: center;
 line-height: 150%;
 text-transform: lowercase;
 cursor: pointer;
}

.full-screen-portfolio .portfolio-item:hover p {
  opacity: 1;
  transform: translateY(0);
 }

 /* portfolio.component.css */
.blur-background {
    filter: blur(5px); /* Adjust the blur strength as needed */
}
.bi-heart-fill,
.bi-heart {
  font-size: 20px;
  color: #ff6b6b;
  margin-right: 5px;
}

