<div class="page-heading">
  <div class="container">
    <div class="heading-content">
      <h1>About <em>Us</em></h1>
    </div>
  </div>
</div>

<div class="services justify-content-center align-items-center">
  <div class="container row m-auto">
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_1.png" alt="" />
        </div>
        <div class="text">
          <h4>FREE CSS TEMPLATE</h4>
          <p>
            Highway is a good CSS template that is available for free. Please
            tell your friends about templatemo site. Thank you.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_2.png" alt="" />
        </div>
        <div class="text">
          <h4>Aenean pellentesque</h4>
          <p>
            Donec et nisi sed magna tincidunt fermentum. Pellentesque eget
            semper felis, sit amet scelerisque neque.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_3.png" alt="" />
        </div>
        <div class="text">
          <h4>Quisque et odio</h4>
          <p>
            Donec et nisi sed magna tincidunt fermentum. Pellentesque eget
            semper felis, sit amet scelerisque neque.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_4.png" alt="" />
        </div>
        <div class="text">
          <h4>Nullam et justo</h4>
          <p>
            Donec et nisi sed magna tincidunt fermentum. Pellentesque eget
            semper felis, sit amet scelerisque neque.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_5.png" alt="" />
        </div>
        <div class="text">
          <h4>Integer ac justo</h4>
          <p>
            Donec et nisi sed magna tincidunt fermentum. Pellentesque eget
            semper felis, sit amet scelerisque neque.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_6.png" alt="" />
        </div>
        <div class="text">
          <h4>Nunc sit amet nibh</h4>
          <p>
            Donec et nisi sed magna tincidunt fermentum. Pellentesque eget
            semper felis, sit amet scelerisque neque.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more-about-us">
  <div class="container">
    <div class="col-md-5 col-md-offset-7">
      <div class="content">
        <h2>Aenean vehicula tincidunt</h2>
        <span>Donec et nisi sed</span>
        <p>
          Vivamus vitae libero euismod, pretium magna a, vulputate metus.
          Curabitur et arcu felis. Praesent aliquet lectus in purus viverra
          varius. <br /><br />Suspendisse et rutrum nisl. Phasellus porttitor
          metus vel justo blandit, in finibus neque elementum. Nullam semper,
          turpis quis egestas consequat, dui eros tristique lectus, ac euismod
          ex quam id mauris.
        </p>
      </div>
    </div>
  </div>
</div>
