<form class="form">
    <span class="title">Hello!</span>
    <div class="description">
        <input placeholder="Enter your email" type="email" name="email" id="email-address">
    </div>
    <div class="description">
        <textarea placeholder="Describe your project..." name="description" id="description"></textarea>
    </div>
    <div class="description">
        <select>
            <option value="" >Select your timeline</option>
            <option style="color: black;">Now</option>
            <option value="Within the next few weeks" style="color: black;">Within the next few weeks</option>
            <option value="In a month" style="color: black;">In a month</option>
            <option value="Over a month" style="color: black;">Over a month</option>
        </select>
    </div>
    <div class="description">
        <input placeholder="Enter your budget" type="text" name="budget" id="budget">
    </div>
    <div class="description">
        <label for="allow-review">Allow Behance to review my inquiry to help me find candidates. <a href="#">Learn More</a></label>
        <input type="checkbox" name="allow-review" id="allow-review">
    </div>
    <button type="submit">Subscribe</button>
</form>
