.body {
  background-color: #e4dcd1;
  min-height: 100vh;
  background-image: url("https://wallpaper.dog/large/10921241.jpg");
  padding: 0 !important;
}

.mailForm {
  color: white;
  background-color: rgba(68, 96, 99, 0.769);
  padding: 50px 0;
  border-radius: 5px;
  min-height: 70vh !important;
  min-width: 100vh !important;
}

p {
  color: #7d8285;
  line-height: 1.5;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.intro {
  font-size: 16px;
  max-width: 500px;
}

.intro p {
  margin-bottom: 35px;
}

form {
  justify-content: center;
  align-self: center;
}

.form-control {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.btn {
  padding: 16px 32px;
  border: none;
  background-color: var(--secondary-color);
  color: white;

  border: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

h1 {
  letter-spacing: 0.15rem !important;
}

button::placeholder {
  color: crimson !important;
}

form .btn:hover {
  opacity: 1;
  background-color: var(--tertiary-color);
  color: white;
}

form .btn:hover {
  transform: scale(1.03) !important;
}

form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

#background {
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: both;
  opacity: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}