.body {
  min-height: 100vh;
  background-image: url("https://images-ext-1.discordapp.net/external/49FRduzJlG-NGy83jhrX1UHP9J1WbAHWakFCLieF5RE/%3Fq%3D80%26w%3D1794%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D/https/images.unsplash.com/photo-1629654858857-615c2c8be8a8?format=webp&width=1021&height=662");
  background-repeat: no-repeat;
  padding: 0 !important;
  background-size: cover;
  background-position: center;
  filter: brightness(90%);
  font-family: var(--font-family);
}




.mailForm {
  color: black;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  padding: 50px 0;
  border-radius: 5px;
  min-height: 70vh !important;
  min-width: 100vh !important;
}

p {
  color: black;
  line-height: 1.5;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.intro {
  font-size: 16px;
  max-width: 500px;
}

.intro p {
  margin-bottom: 35px;
}

form {
  justify-content: center;
  align-self: center;
}

.form-control {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}

.btn {
  padding: 16px 32px;
  border: none;
  background-color: #141E1D;
  color: white;

  border: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}


button::placeholder {
  color: crimson !important;
}

form .btn:hover {
  opacity: 1;
  background-color: #446063;
  color: black;
}

form .btn:hover {
  transform: scale(1.03) !important;
}

form .btn-primary {
  background-color: #055ada !important;
  color: #fff;
  outline: none !important;
}

#background {
  animation: fadeInAnimation ease 1s;
  animation-fill-mode: both;
  opacity: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#textMail {
  letter-spacing: 0.3rem;
  font-size: 32px;
}