<main class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-end align-content-center" id="imgHalf">
        <img src="assets/images/pngwing.com.png" alt="Image" width="60%" />
      </div>
      <div class="col-md-6 align-self-center">
        <h2>Congratulations !</h2>
        <br />
        <h3>Your email has been verified successfully</h3>
        <p>You can start your journey now</p>
        <br />
        <a
          class="btn btn-outline-secondary text-start text-bg-light"
          href="/login"
          >GO TO LOGIN</a
        >
      </div>
    </div>
  </div>
</main>
