.heading-container {
  margin-top: 7%;
  color: #694535;
  font-family: "artifika";
}
.cards-container {
  margin-bottom: 5%;
}
.selected {
  border: 2px solid brown;
  text-decoration: none;
}
a {
  text-decoration: none;
}
