<!-- Heading Container -->
<div class="container heading-container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Our Website!</h1>
      <p style="color: black">
        Explore our categories below to find what you're looking for.
      </p>
    </div>
  </div>



  
  <div class="filter-list-container">
    <app-filter-list></app-filter-list>
  </div>




  <!-- Category Cards Container -->
  <div class="container cards-container">
    <div class="row">
      <!-- Category Cards -->
      <div class="col-3" *ngFor="let category of categories">
        <app-category-card
          [title]="category.title"
          (click)="getCategoryName(category.title)"
        ></app-category-card>
      </div>
    </div>
  </div>

  <!-- Button -->
  <div class="body">
    <div class="tabs">
      <input
        [(ngModel)]="selectedTab"
        value="posts"
        name="selected"
        id="posts"
        type="radio"
        class="input"
      />
      <label for="posts" class="label">POSTS</label>
      <input
        [(ngModel)]="selectedTab"
        value="freelancers"
        name="selected"
        id="freelancers"
        type="radio"
        class="input"
      />
      <label for="freelancers" class="label">FREELANCERS</label>
    </div>
  </div>

  <!-- Content Below Categories -->
  <app-freelancer-list
    *ngIf="selectedTab === 'freelancers'"
  ></app-freelancer-list>
  <app-portfolios-main *ngIf="selectedTab === 'posts'"></app-portfolios-main>
</div>
