/* === removing default button style ===*/
.button {
  font-size: 17px;
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: white;
  --animation-color: var(--primary-color);
  --fs-size: 2.7em;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--text-stroke-color);
  overflow: hidden;
  /* Add overflow: hidden */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* Toggle styles */
.button.toggled .hover-text {
  width: 100%;
}

/* Animation */
.button.toggled .hover-text:before,
.button.toggled .hover-text:after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.button.toggled:hover .hover-text:before,
.button.toggled:hover .hover-text:after {
  opacity: 1;
  transition: opacity 0.5s ease;
}
* {
  font-family: "Poppins", sans-serif;
}