.card {
  background-color: var(--secondary-color);
  font-family: var(--font-family);
  position: relative;
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 15px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  /* Adjust transition for smoother effect */
  padding: 0;
  /* Remove padding */
}
* {
  font-family: "Poppins", sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  /* Elevate the item by 5 pixels */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Increase box shadow on hover */
}

.card__img {
  height: 192px;
  width: 100%;
  overflow: hidden;
  /* Hide any content that overflows the container */
  border-radius: 20px 20px 0 0;
  /* Apply border radius only to the top */
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 60px;
  font-weight: 800;
  font-size: 18px;
  font-family: "artifika";
  color: var(--primary-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font-family);
  color: var(--tertiary-color);
}

.card__btn {
  margin-top: 15px;
  width: 150px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;

  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--primary-color);
  color: white;
}

.card__btn:hover {
  background: rgba(34, 92, 34, 0.552);
  color: white;
}

.card__btn-solid:hover {
  background: rgba(34, 92, 34, 0.552);

  color: white;
}

.card__title a {
  text-decoration: none;

}

a {
  cursor: pointer;
}