.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1537204319452-fdbd29e2ccc7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: auto;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}
.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

#background {
  background-color: #e4dcd1;
}

button {
  background-color: #7f6256;
  color: white;

  border: none;
}

button:hover {
  background-color: #503428;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: both;
  opacity: 0;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.01);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
