<main class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-end align-content-center" id="imgHalf">
        <img
          src="https://i.ibb.co/TqMB8FG/75519-copy.png"
          alt="Image"
          width="60%"
        />
      </div>
      <div class="col-md-6 align-self-center">
        <h1>404</h1>
        <h2>UH OH! You're lost.</h2>
        <p>
          The page you are looking for does not exist. How you got here is a
          mystery. But you can click the button below to go back to the
          homepage.
        </p>
        <a class="btn green text-start px-0" href="/">GO TO HOME</a>
      </div>
    </div>
  </div>
</main>
