<nav>
  <div class="logo">
    <a href="#" (click)="navigateHome($event)">Art<em>lance</em></a>
  </div>
  <div class="menu-icon" (click)="toggleMenu()">
    <span></span>
  </div>
</nav>

<section class="overlay-menu" [ngClass]="{ open: isMenuOpen }">
  <div class="container">
    <div class="row">
      <div class="main-menu">
        <ul>
          <li>
            <a href="#" (click)="navigateHome($event)">Home</a>
          </li>
          <li>
            <a href="#" (click)="navigateAbout($event)">About Us</a>
          </li>
          <li>
            <a href="#" (click)="navigateToFreelancers($event)">Freelancers</a>
          </li>
          <li>
            <a href="#" (click)="navigatePortfolioList($event)">Portfolios</a>
          </li>
          <li>
            <a href="#" (click)="navigateToLogin($event)">Log In</a>
          </li>
          <li>
            <a href="#" (click)="navigateToRegister($event)">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
