<nav class="navbar-blur row">
  <div class="logo col-xxl-7 col-xl-5 col-lg-4 d-lg-block d-none">
    <a href="#" (click)="navigateHome($event)">Art<em>lance</em></a>
  </div>
  <app-searchbar class="col-xl-3 col-lg-3 col-1"></app-searchbar>
  <div
    class="menu-icon col-xl-2 col-lg-2 col-2 d-sm-block d-none"
    (click)="toggleMenu()"
  >
    <span></span>
  </div>
</nav>

<section class="overlay-menu" [ngClass]="{ open: isMenuOpen }">
  <div class="container">
    <div class="row">
      <div class="main-menu">
        <ul>
          <li>
            <a href="#" (click)="navigateHome($event)">Home</a>
          </li>
          <li>
            <a href="#" (click)="navigateAbout($event)">About Us</a>
          </li>
          <li>
            <a href="#" (click)="navigateToFreelancers($event)">Freelancers</a>
          </li>
          <li>
            <a href="#" (click)="navigatePortfolioList($event)">Portfolios</a>
          </li>
          <li>
            <a href="#" (click)="navigateToLogin($event)">Log In</a>
          </li>
          <li>
            <a href="#" (click)="navigateToRegister($event)">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
