<div class="page-heading">
  <div class="container">
    <div class="heading-content">
      <h1>About <em>Us</em></h1>
    </div>
  </div>
</div>

<div class="services justify-content-center align-items-center">
  <div class="container row m-auto">
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_1.png" alt="" />
        </div>
        <div class="text">
          <h4>Diverse Talent Pool</h4>
          <p>
            Our platform boasts a diverse community of freelancers spanning
            various industries, disciplines, and expertise areas. From graphic
            designers and web developers to content writers and digital
            marketers, you'll find a wealth of talent ready to bring your
            projects to life.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_2.png" alt="" />
        </div>
        <div class="text">
          <h4>Creative Portfolios</h4>
          <p>
            Freelancers on our platform have the opportunity to showcase their
            work through personalized portfolios. These portfolios serve as
            visual resumes, highlighting past projects, skills, and achievements
            to potential clients.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_3.png" alt="" />
        </div>
        <div class="text">
          <h4>Seamless Hiring Process</h4>
          <p>
            Clients can easily browse through our extensive database of
            freelancers, review their portfolios, and connect with the perfect
            match for their project needs. Our intuitive hiring process
            streamlines communication and ensures a smooth collaboration from
            start to finish.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_4.png" alt="" />
        </div>
        <div class="text">
          <h4>Real-Time Chat</h4>
          <p>
            Effective communication is key to successful projects. That's why we
            offer a real-time chat feature that allows clients and freelancers
            to communicate directly, discuss project requirements, share
            feedback, and stay updated on project progress.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_5.png" alt="" />
        </div>
        <div class="text">
          <h4>Advanced Search and Filtering</h4>
          <p>
            Finding the right freelancer has never been easier. Our advanced
            search and filtering options enable clients to narrow down their
            search based on specific criteria such as skills, location,
            experience level, and more, ensuring they find the perfect fit for
            their project.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="service-item">
        <div class="icon">
          <img src="assets/images/service_6.png" alt="" />
        </div>
        <div class="text">
          <h4>Secure Transactions</h4>
          <p>
            Ensuring the safety of your transactions is paramount to us. Our
            platform integrates with trusted payment gateways to facilitate
            secure financial transactions between clients and freelancers. You
            can hire with confidence, knowing that your payments are processed
            securely and efficiently.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more-about-us">
  <div class="container">
    <div class="col-md-5 col-md-offset-7">
      <div class="content">
        <h2>Artevo</h2>
        <span>Unleash Your Artistry with Artevo</span>
        <p>
          Welcome to Artevo, where creativity meets opportunity! We're a
          dynamic e-commerce platform designed to connect clients with talented
          freelancers from around the globe. Whether you're a client in need of
          creative solutions or a freelancer looking to showcase your skills,
          we've got you covered. <br /><br />

          Our Mission: At Artevo, our mission is to empower freelancers and
          clients alike by providing a seamless platform for collaboration,
          communication, and creativity. We believe in fostering meaningful
          connections and facilitating successful partnerships that drive
          innovation and excellence.
        </p>
      </div>
    </div>
  </div>
</div>
