
.load-more-button {
  margin-top: 15px;
  margin: 65px 0px;
 }

 .load-more-button a {
  width: 100%;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  background-color: #694535;
  transition: all 0.5s;
 }

  .load-more-button a:hover {
  color: rgba(250,250,250,0.5);
 }

 .grid-portfolio{
  background-color:#ada69d;
 }

  #btn{
  background-color:#ada69d;
 }
