<!-- Registration 8 - Bootstrap Brain Component -->

<section class="p-3 p-md-4 p-xl-5 gg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div style="color: black" class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img
                class="img-fluid rounded-start w-100 h-100 object-fit-cover"
                loading="lazy"
                src="assets/images/about-pic.webp"
                alt="Welcome back you've been missed!"
              />
            </div>
            <div
              style="background-color: #e4dcd1"
              class="col-12 col-md-6 d-flex align-items-center justify-content-center"
            >
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <h2 style="color: black" class="h4 text-center fs-2">
                          Registration
                        </h2>
                      </div>
                      <!--sssss-->

                      <div class="mb-5">
                        <h2
                          style="color: black"
                          class="h4 text-center fs-2"
                        ></h2>
                      </div>
                    </div>
                  </div>
                  <!--login wi google-->
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex gap-3 flex-column">
                        <button class="buttonGoogle" style="height: 58px">
                          <a
                            href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=ARZ0qKIC4w_vP9Z5wqyVa71yB4bCja74ohRKvsZ2J1feIjMWvLKNYkw6VAzgVR6kwppchTYyd5Kq1A&theme=mn&ddm=0&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                            target="_blank"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              preserveAspectRatio="xMidYMid"
                              viewBox="0 0 256 262"
                            >
                              <path
                                fill="#4285F4"
                                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                              ></path>
                              <path
                                fill="#34A853"
                                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                              ></path>
                              <path
                                fill="#FBBC05"
                                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                              ></path>
                              <path
                                fill="#EB4335"
                                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                              ></path>
                            </svg>

                            Continue with Google
                          </a>
                        </button>
                      </div>
                      <p style="color: black" class="text-center mt-4 mb-5">
                        Or enter your details to register
                      </p>
                    </div>
                  </div>
                  <!--login wi google-->
                  <form action="#!">
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            [(ngModel)]="fullName"
                            type="text"
                            class="form-control"
                            name="firstName"
                            id="firstName"
                            placeholder="First Name"
                            required
                          />
                          @if(fullName&&fullName.length < 5){
                          <br />
                          <p
                            style="
                              color: red;
                              margin-top: -5px;
                              text-align: start;
                              margin-left: 30px;
                            "
                          >
                            Full Name should be at least 5 characters
                          </p>
                          }

                          <label for="firstName" class="form-label"
                            >Full Name</label
                          >
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            [(ngModel)]="userName"
                            type="text"
                            class="form-control"
                            name="lastName"
                            id="lastName"
                            placeholder="First Name"
                            required
                          />

                          <label for="lastName" class="form-label"
                            >User Name</label
                          >
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            [(ngModel)]="email"
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="name@example.com"
                            required
                          />
                          @if(email&&!email.includes("@")){
                          <br />
                          <p
                            style="
                              color: red;
                              margin-top: -5px;
                              text-align: start;
                              margin-left: 30px;
                            "
                          >
                            Please insert vailed email !!
                          </p>
                          }
                          <label for="email" class="form-label">Email</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input
                            [(ngModel)]="password"
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            value=""
                            placeholder="Password"
                            required
                          />
                          <label for="password" class="form-label"
                            >Password</label
                          >
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group form-inline">
                          <label for="">Register As :</label>

                          <div class="container">
                            <div class="row">
                              <div class="form-check mr-3 col-6">
                                <input
                                  [(ngModel)]="type"
                                  class="form-check-input"
                                  type="radio"
                                  id="freelancerRadio"
                                  name="userTypeOption"
                                  value="Freelancer"
                                  required
                                />
                                <label
                                  class="form-check-label"
                                  for="freelancerRadio"
                                  >Free Lancer</label
                                >
                              </div>
                              <div class="form-check col-6">
                                <input
                                  [(ngModel)]="type"
                                  class="form-check-input form-check-label"
                                  type="radio"
                                  id="clientRadio"
                                  name="userTypeOption"
                                  value="Client"
                                  required
                                />
                                <label
                                  class="form-check-label"
                                  for="clientRadio"
                                  >Client</label
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input
                            class="form-check-input custom-checkbox"
                            type="checkbox"
                            value=""
                            name="iAgree"
                            id="iAgree"
                            required
                          />
                          <label
                            class="form-check-label text-dark"
                            for="iAgree"
                          >
                            I agree to the
                            <a
                              href="https://app.termly.io/dashboard/website/78ee4cb8-56bf-43e0-9fed-bdbf271a759c/terms-of-service"
                              class="link-primary text-decoration-none"
                              >terms and conditions</a
                            >
                          </label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <!--form-->
                          @if(showVerifyEmailMessage==true){

                          <div
                            style="width: 50%; height: 600px"
                            class="centered-window"
                          >
                            <h1>Artlance</h1>
                            <p>
                              Hi {{ fullName }}
                              We are happy you signed up for Artlance. to start
                              the Artlance App,please confirm your email
                              address.
                            </p>
                            <div class="text-center">
                              <a
                                style="--clr: #7808d0; width: 43%"
                                class="button fs-4 text-center"
                                href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=ARZ0qKIC4w_vP9Z5wqyVa71yB4bCja74ohRKvsZ2J1feIjMWvLKNYkw6VAzgVR6kwppchTYyd5Kq1A&theme=mn&ddm=0&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                                target="_blank"
                              >
                                <span class="button__icon-wrapper">
                                  <svg
                                    width="10"
                                    class="button__icon-svg"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 15"
                                  >
                                    <path
                                      fill="currentColor"
                                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                                    ></path>
                                  </svg>

                                  <svg
                                    class="button__icon-svg button__icon-svg--copy"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="10"
                                    fill="none"
                                    viewBox="0 0 14 15"
                                  >
                                    <path
                                      fill="currentColor"
                                      d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                                    ></path>
                                  </svg>
                                </span>
                                Verfiy Account
                              </a>
                            </div>
                            <br />
                            <div class="container">
                              <div class="row">
                                <div class="col-10">
                                  <h4>Going to Login page in a few seconds.</h4>
                                </div>
                                <div
                                  class="three-body col-2 justify-content-start"
                                >
                                  <div class="three-body__dot"></div>
                                  <div class="three-body__dot"></div>
                                  <div class="three-body__dot"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          }
                          <!--form-->
                          @if(emailExists==true){
                          <p style="color: red">Email already exists !!</p>
                          }
                        </div>
                      </div>
                    </div>
                  </form>
                  <!--signUp-->
                  <div class="container">
                    <div class="row">
                      <button class="buttonSignUP col-10" (click)="addUser()">
                        <div class="dots_border"></div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          class="sparkleSignUP"
                        >
                          <path
                            class="pathSignUP"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke="black"
                            fill="black"
                            d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z"
                          ></path>
                          <path
                            class="pathSignUP"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke="black"
                            fill="black"
                            d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z"
                          ></path>
                          <path
                            class="pathSignUP"
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke="black"
                            fill="black"
                            d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z"
                          ></path>
                        </svg>
                        <span class="text_buttonSignUp">Sign Up</span>
                      </button>
                    </div>
                  </div>

                  <!--signUp-->
                  <div class="row">
                    <div class="col-12">
                      <p class="mb-0 mt-5 text-dark text-center">
                        Already have an account?
                        <a
                          href="#"
                          (click)="navigateToLogin($event)"
                          class="link-primary text-decoration-none"
                          >Sign in</a
                        >
                      </p>
                      <!--sssssssssssssssssssssss-->

                      <!--sssssssssssssssssssssss-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
