.card {
  width: calc(33.33% - 20px); /* Adjust based on your layout */
  margin: 10px; /* Margin between each card */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;

  display: block;
}

.card-body {
  padding: 15px;

}

.author {
  font-size: 15px;
  margin-top: -18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

.card-text {
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #666;
  margin-bottom: 10px;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.bi-heart-fill,
.bi-heart {
  font-size: 20px;
  color: #ff6b6b;
  margin-right: 5px;
}

.like-count {
  font-size: 20px;
  margin-left: -17px;
  margin-top: -4px;
  color: #333;
}

.card {
  margin-bottom: 230px; /* Adjust as needed */
}
