.container-fluid {
  background-color: var(--primary-color) !important;
}
.main-content {
  flex: 1;
  display: flex;
}
header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(3, 3, 3);
  height: 250px;
}

header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  header {
    height: 150px;
  }

  header i {
    right: -90%;
  }
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: var(--tertiary-color);
}

.photo {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid var(--secondary-color);
  object-fit: cover;
}

.active {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  right: calc(50% - 70px);
  top: 75px;
  background-color: #ffc107;
  border: 3px solid #fff;
}

@media (max-width: 990px) {
  .active {
    right: calc(50% - 60px);
    top: 50px;
  }
}

.name {
  margin-top: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18pt;
  color: var(--secondary-color);
}

.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  color: grey;
}

.stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  font-family: "Montserrat", sans-serif;
}

.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}

.desc-stat {
  margin-top: -15px;
  font-size: 10pt;
  color: grey;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: grey;
  font-size: 11pt;
  font-family: "Open Sans";
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 20pt;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1) {
  color: #4267b2;
}

.social i:nth-child(2) {
  color: #1da1f2;
}

.social i:nth-child(3) {
  color: #bd081c;
}

.social i:nth-child(4) {
  color: #36465d;
}

.right {
  padding: 0 30px 0 30px !important;
  width: 100%;
}

.nav {
  display: inline-flex;
}

.nav li {
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #888;
}

.nav li:hover,
.nav li:nth-child(1) {
  color: #999;
  border-bottom: 2px solid #999;
}

.follow {
  position: absolute;
  right: 8%;
  top: 35px;
  font-size: 11pt;
  background-color: #42b1fa;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.follow:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {
  .nav {
    display: none;
  }

  .follow {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}

.gallery {
  margin-top: 35px;
  justify-content: space-evenly;
}

.portfolio-item {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  height: calc(20.2% - 100px);
}

.portfolio-item img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  cursor: pointer;
}

/*button---------------------------------------------------------------------*/
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: transparent;

  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: white;
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--secondary-color);
  font-weight: 600;
  color: black;
}

/*add post button */
/*ssssssssssss*/
.button {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: var(--primary-color);
  --bg-color: var(--secondary-color);
  --main-color: #323232;
  position: relative;
  width: 187px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 1px 1px var(--main-color);

  border-radius: 10px;
  overflow: hidden;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 40px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
}

/*flowers/folowing*/
.stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  font-family: "Montserrat", sans-serif;
  display: flex;
  /* Use flexbox to align items horizontally */
}

.stat {
  flex: 1;
  /* Each stat item will take equal space */
  text-align: center;
  padding: 0 10px;
  /* Adjust spacing */
}

.number-stat {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

.desc-stat {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  color: grey;
}

/*edit button--------------------------------*/
button {
  position: relative;
  padding: 12px 35px;
  background: white;
  font-size: 17px;
  font-weight: 500;
  color: black;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 0 0 black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 10%;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: black;
  color: white;
  box-shadow: 0 0 25px black;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}


.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  background-color: var(--secondary-color);
  padding: 11px 18px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid rgb(211, 211, 211);
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.svgIcon {
  width: 16px;
  height: auto;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: var(--secondary-color);
  border-radius: 12px;
  color: rgb(34, 34, 34);
}



.tooltip-container:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: var(--secondary-color);
}
.pressed {
  background-color: var(--tertiary-color);
  color: white;
}

.pressedText {
  color: white;
}

.btnProfile {
  height: 40px;
  width: 220px;
  margin-top: 20px;
  padding: 0%;
}
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.btn {
  width: 200px;
  height: 50px; /* Set height for the button */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 6.5em;
  height: 2.3em;
  background-color: #ccd4dd;
  color: #446063;
  border: none;
  border-radius: 0.625em;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  max-width: 229px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 20px;
}

.btn:hover {
  color: #141e1d;
}

.btn:after {
  content: "";
  background-color: #446063;
  color: #ccd4dd;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


.orders-table-container {
  margin-top: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.orders-table th,
.orders-table td {
  padding: 10px;
  text-align: center;
}

.orders-table th {
  background-color: #141E1D;
  /* #446063 */
  color: #fff;
  font-style: italic;
  text-decoration: underline;
  /* border: 1px solid #323232; */
  font-size: 17px;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #CCD4DD;
  /* border: 1px solid #323232; */
  color:#141E1D;
  font-weight: 500;

}

.orders-table tbody tr:nth-child(odd) {
  background-color: #141E1D;
  /* border: 2px solid #323232; */

  color: white;
  font-weight: 500;
}

.orders-table tbody tr:hover {
  background-color: #8daab9;
  /* border: 1px solid #323232; */
  color:#141E1D

}

.accept-button,
.reject-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.accept-button:hover,
.reject-button:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.accept-button {
  background-color: #28a745;
  color: #fff;
}

.accept-button:hover {
  background-color: #218838;
}

.reject-button {
  background-color: #dc3545;
  color: #fff;
}

.reject-button:hover {
  background-color: #c82333;
}

/* CSS */
.orders-table {
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 8px; /* Padding inside each cell */
}

.response-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.response-content {
  padding: 20px;
  border-radius: 10px;
  background-color:#141E1D ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: white;
}

.response-content h3 {
  color: #fff; /* Change to your text color */
  font-size: 23px;
  margin-bottom: 20px;
}

.response-content button {
  padding: 10px 20px;
  background-color: #446063; /* Change to your button background color */
  color: #fff; /* Change to your button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.response-content button:hover {
  background-color: #5a7a8a; /* Change to your button hover background color */
}


.response-content textarea:focus {
  border: 1px solid transparent; /* Hide the original border */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 10px whitesmoke; /* Add glowing effect */
}



.pay-button,
.view-response-button {
  padding: 5px 10px;
  font-size: 15px; 
  border: none;
  cursor: pointer;
}

.pay-button:hover,
.view-response-button:hover {
  background-color: #141e1d;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.view-response-button {
  margin-top: 5px; /* Adjust the margin between buttons */
}


.updatebtn {
  width: 200px;
  height: 50px; /* Set height for the button */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 6.5em;
  height: 2.3em;
  background-color: #ccd4dd;
  color: #446063;
  border: none;
  border-radius: 0.625em;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  max-width: 229px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 20px;
}

.updatebtn:hover {
  color: #141e1d;
}

.updatebtn:after {
  content: "";
  background-color: #446063;
  color: #ccd4dd;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.updatebtn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* {
  font-family: "Poppins", sans-serif;
}