<h1>ss</h1>
<h1>ss</h1>
<h1>ss</h1>
<h1>ss</h1>
<h1>ss</h1>
<form (submit)="handleSubmit()">
  <div #cardElement></div>
  <button type="submit">Pay</button>
</form>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="heading_8264">MASTERCARD</p>
      <svg
        class="logo"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="36"
        height="36"
        viewBox="0 0 48 48"
      >
        <!-- Mastercard logo paths -->
      </svg>
      <!-- Other card elements -->
      <p class="number">9759 2484 5269 6576</p>
      <p class="valid_thru">VALID THRU</p>
      <p class="date_8264">1 2 / 2 4</p>
      <p class="name">BRUCE WAYNE</p>
    </div>
    <div class="flip-card-back">
      <div class="strip"></div>
      <div class="mstrip"></div>
      <div class="sstrip">
        <p class="code">***</p>
      </div>
    </div>
  </div>
</div>
